.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label_formulario{
    
    font-size: 15px;
}

.botao-ajuda{
    
    margin-top: 32px;
}

.btn-confirm{

	background-color: #218838 !important; 
}